export INFO_PATH=~/workspace/android-key/music-friend
export KEY_ALIAS=$(jq -r '.key.alias' "${INFO_PATH}/keystore-info.json")
export KEY_PASS=$(jq -r '.key.password' "${INFO_PATH}/keystore-info.json")
export STORE_FILE="${INFO_PATH}/bengt-new.key"
export STORE_PASS=$(jq -r '.store.password' "${INFO_PATH}/keystore-info.json")
