export INFO_PATH=~/workspace/android-key/music-friend
export KEY_ALIAS=$(jq -r '.key.alias' "${INFO_PATH}/keystore-info.json")
export KEY_PASS=$(jq -r '.key.password' "${INFO_PATH}/keystore-info.json")
export STORE_FILE="${INFO_PATH}/bengt-new.key"
export STORE_PASS=$(jq -r '.store.password' "${INFO_PATH}/keystore-info.json")
launchctl setenv KEY_ALIAS $KEY_ALIAS
launchctl setenv KEY_PASS $KEY_PASS
launchctl setenv STORE_FILE $STORE_FILE
launchctl setenv STORE_PASS $STORE_PASS
