export INFO_PATH=$(ls ~/workspace/android-key/music-friend/keystore-info.json)
export KEY_ALIAS=$(jq -r '.key.alias' "${INFO_PATH}")
export KEY_PASS=$(jq -r '.key.password' "${INFO_PATH}")
export STORE_FILE=$(jq -r '.store.localPath' "${INFO_PATH}")
export STORE_PASS=$(jq -r '.store.password' "${INFO_PATH}")